<% include partials/header %>

<h1>Nothing Moves Itself</h1>
<h3>Elaine Navas</h3>
<p>“The existence of a prime mover- nothing can move itself; there must be a first mover. The first mover is called God.”</p>

<% include partials/footer %>
